li {
    display: flex;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

li button {
    height: 40px;
    width: 40px;
}

#attribution p {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

#attribution p:hover {
    scale: 1.05;
    box-shadow: 1px 1px 1px 1px black;
}